# 공통적으로 무시할 파일
*.log
*.tmp
.DS_Store
Thumbs.db

# NodeJS 관련 무시 항목
node_modules/
.env

# C++ 관련 무시 항목
*.o
*.obj
*.exe
*.out
build/
bin/
obj/

# C# 관련 무시 항목
bin/
obj/
*.user
*.suo

# C 관련 무시 항목
*.o
*.exe